.main-container {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 700px;
  max-height: 100vh;
}
.news-container {
  padding: 2rem;
}
.news-container h1 {
  font-weight: bold;
}
.temp-container {
  padding: 2rem;
}
.temp-container h2 {
  font-weight: bold;
}
.form-container {
  bottom: 0;
  position: fixed;
  padding: 0 3rem 3rem 3rem;
  width: 100%;
  max-width: 700px;
  background-color: white;
  border-top: 1px solid #ecf0f1;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.gobtn {
  background-color: #1e272e;
  color: white;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
